* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(img/backgkultura.webp);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}

.logo{
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: .4s;
}

.navbar a:hover::before{
    width: 100%;
}
.row{
    margin-top: 300px;
    margin-left: 300px;
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;

 }
.col{
    flex-basis: 80%;
 }
 button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 15px 0;
    background: #ffffff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
 }
 .rrow{
    margin-top: 300px;
    padding-left: 20px;
    display: flex;
    height: 50%;
    align-items: center;
    background-color: #000;
 }
.ccol{
    flex-basis: 80%;  
 }
 .rrow h1{
    color: #ffffff;
    font-size: 40px;
    padding-left: 30px;
 }
 p{
    color: #ffffff;
    font-size: 18px;
    line-height: 15px;
    padding-left: 30px;
 }
 .card{
    width: 210px;
    height: 240px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 15px;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    margin: 80px 10px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
 }
 .card1{
    background-image: url(img/drevor.webp);
 }
 .card2{
    background-image: url(img/tkanie.webp);
 }
 .card3{
    background-image: url(img/vyroba.webp);
 }
 .rozvoj-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 70vh;
   padding: 5rem calc((100vw - 1300px) / 2);
   background-color: #000;
 }

 .rozvoj-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 2rem 2rem;
 }

 .rozvoj-left h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
 }

 .rozvoj-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
 }
 .tanap1{
    width: 620px;
    height: 365px;
    border-radius: 20px;
    margin-left: 30px;
}